<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="app-header mdl-layout__header mdl-layout_header--waterfall">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">
        <img class="app-header-logo" src="../../images/android-logo.png" routerLink="">
      </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="app-navigation mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link mdl-typography--text-uppercase" routerLink="/generic-link">GenericLink</a>
      </nav>

      <div class="divider-vertical"></div>

      <nav class="app-navigation mdl-navigation mdl-layout--large-screen-only">
        <app-auth></app-auth>
      </nav>
    </div>
  </header>

  <main class="mdl-layout__content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
