<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col">1</div>
  <div class="mdl-cell mdl-cell--1-col">1</div>
  <div class="mdl-cell mdl-cell--1-col">1</div>
  <div class="mdl-cell mdl-cell--1-col">1</div>
  <div class="mdl-cell mdl-cell--1-col">1</div>
  <div class="mdl-cell mdl-cell--1-col">1</div>
  <div class="mdl-cell mdl-cell--1-col">1</div>
  <div class="mdl-cell mdl-cell--1-col">1</div>
  <div class="mdl-cell mdl-cell--1-col">1</div>
  <div class="mdl-cell mdl-cell--1-col">1</div>
  <div class="mdl-cell mdl-cell--1-col">1</div>
  <div class="mdl-cell mdl-cell--1-col">1</div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">4</div>
  <div class="mdl-cell mdl-cell--4-col">4</div>
  <div class="mdl-cell mdl-cell--4-col">4</div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">6</div>
  <div class="mdl-cell mdl-cell--4-col">4</div>
  <div class="mdl-cell mdl-cell--2-col">2</div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">6 (8 tablet)</div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet">4 (6 tablet)</div>
  <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone">2 (4 phone)</div>
</div>

<!-- Colored FAB button -->
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-offset mdl-cell--1-col">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" (click)="clickButton()">
      <i class="material-icons">add</i>
    </button>
  </div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-offset mdl-cell-1-col">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" (click)="clickButton()">
      <i class="material-icons">add</i>
    </button>
  </div>
  <div class="mdl-cell mdl-cell-1-col">
    <app-generic-card></app-generic-card>
  </div>
</div>

<div class="mdl-grid">
  <button #editUserButton mdl-button mdl-button-type="raised" mdl-colored="primary"
          mdl-ripple (click)="editUserDialog.show()">Edit User Dialog
  </button>

  <mdl-dialog #editUserDialog
              [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{'width': '900px'},
              isModal:true,
              openFrom: editUserButton,
              enterTransitionDuration: 400,
              leaveTransitionDuration: 400}"
              (show)="onDialogShow(dialogRef)"
              (hide)="onDialogHide()">
    <h3 class="mdl-dialog__title">Edit User</h3>
    <div class="mdl-dialog__content">
      <mdl-textfield type="text" label="Username" [(ngModel)]="username" floating-label autofocus></mdl-textfield>
    </div>
    <div class="mdl-dialog__actions">
      <button mdl-button (click)="saveUser()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>
      <button mdl-button (click)="editUserDialog.close()" mdl-ripple>Cancel</button>
    </div>
  </mdl-dialog>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-offset mdl-cell--4-col">
    <app-generic-form mdl-shadow="2"></app-generic-form>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-offset mdl-cell--4-col">
    <mdl-switch [(ngModel)]="checkbox2">Option 2</mdl-switch>
  </div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-offset mdl-cell--4-col">
    <div class="mdl-cell mdl-cell--2-offset mdl-cell--4-col">
      <mdl-table-selectable mdl-shadow="2"
                            [table-model]="tableModel"
                            [table-model-selected]="selected"
                            (table-model-selectionChanged)="selectionChanged($event)">
      </mdl-table-selectable>
    </div>
  </div>
</div>
<!-- Contact Chip -->
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-offset mdl-cell--4-col">
    <mdl-chip mdl-action-icon="cancel" (action-click)="deleteChip()" mdl-label="Contact Chip">
      <span mdl-chip-contact class="mdl-color--primary mdl-color-text--accent">A</span>
    </mdl-chip>
  </div>
</div>

<mdl-textfield type="text" label="Text..." [(ngModel)]="text3" floating-label></mdl-textfield>
<mdl-textfield
  type="text"
  label="Number..."
  pattern="-?[0-9]*(\.[0-9]+)?"
  error-msg="Input is not a number!"
  [(ngModel)]="text4"
  floating-label></mdl-textfield>


<!-- Rich Tooltip -->
<mdl-icon [mdl-tooltip]="tt3">cloud_upload</mdl-icon>
<mdl-tooltip #tt3="mdlTooltip">
  Upload <strong>file.zip</strong>
</mdl-tooltip>
<mdl-checkbox [mdl-ripple]="true" [(ngModel)]="checkbox1">
  Checkbox
</mdl-checkbox>
{{checkbox1}}
<mdl-radio name="group1" value="1" [(ngModel)]="radioOption" mdl-ripple>Value 1</mdl-radio>
<mdl-radio name="group1" value="2" [(ngModel)]="radioOption" mdl-ripple>Value 2</mdl-radio>
<mdl-radio name="group1" value="3" [disabled]="true" [(ngModel)]="radioOption" mdl-ripple>Value 3 (disabled)</mdl-radio>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-offset mdl-cell--4-col">
    <mdl-list mdl-shadow="4">
      <mdl-list-item mdl-ripple>
        <mdl-list-item-primary-content>
          <mdl-icon mdl-list-item-avatar>person</mdl-icon>
          Bryan Cranston
        </mdl-list-item-primary-content>
        <mdl-list-item-secondary-action>
          <mdl-checkbox mdl-ripple></mdl-checkbox>
        </mdl-list-item-secondary-action>
      </mdl-list-item>
      <mdl-list-item>
        <mdl-list-item-primary-content>
          <mdl-icon mdl-list-item-avatar>person</mdl-icon>
          Aaron Paul
        </mdl-list-item-primary-content>
        <mdl-list-item-secondary-action>
          <mdl-radio ngModel="false" mdl-ripple></mdl-radio>
        </mdl-list-item-secondary-action>
      </mdl-list-item>
      <mdl-list-item>
        <mdl-list-item-primary-content>
          <mdl-icon mdl-list-item-avatar>person</mdl-icon>
          Bob Odenkirk
        </mdl-list-item-primary-content>
        <mdl-list-item-secondary-action>
          <mdl-switch mdl-ripple></mdl-switch>
        </mdl-list-item-secondary-action>
      </mdl-list-item>
    </mdl-list>
  </div>
</div>


<mdl-switch [(ngModel)]="disableTargaryens" mdl-ripple>Disable Targaryens</mdl-switch>
<mdl-switch [(ngModel)]="disableBaratheon" mdl-ripple>Disable Baratheon</mdl-switch>
<mdl-tabs mdl-ripple mdl-tab-active-index="0" (mdl-tab-active-changed)="tabChanged($event)">
  <mdl-tab-panel>
    <mdl-tab-panel-title>
      <mdl-icon class="mdl-color-text--primary">person</mdl-icon>
      <span>Starks</span>
    </mdl-tab-panel-title>
    <mdl-tab-panel-content>
      <ul>
        <li>Eddard</li>
        <li>Catelyn</li>
        <li>Robb</li>
        <li>Sansa</li>
        <li>Brandon</li>
        <li>Arya</li>
        <li>Rickon</li>
      </ul>
    </mdl-tab-panel-content>
  </mdl-tab-panel>
  <mdl-tab-panel mdl-tab-panel-title="Lannisters">
    <ul>
      <li>Tywin</li>
      <li>Cersei</li>
      <li>Jamie</li>
      <li>Tyrion</li>
    </ul>
  </mdl-tab-panel>
  <mdl-tab-panel mdl-tab-panel-title="Targaryens" [disabled]="disableTargaryens">
    <ul>
      <li>Viserys</li>
      <li>Daenerys</li>
    </ul>
  </mdl-tab-panel>
  <mdl-tab-panel mdl-tab-panel-title="Baratheon" [disabled]="disableBaratheon">
    <mdl-tab-panel-title>
      <mdl-icon class="mdl-color-text--primary">person</mdl-icon>
      <span>Baratheon</span>
    </mdl-tab-panel-title>
    <mdl-tab-panel-content>
      <ul>
        <li>Robert</li>
        <li>Renly</li>
        <li>Stanis</li>
        <li>Joffrey</li>
        <li>Myrcella</li>
        <li>Tommen</li>
      </ul>
    </mdl-tab-panel-content>
  </mdl-tab-panel>
</mdl-tabs>


<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-offset mdl-cell--4-col">
    <mdl-list mdl-shadow="4">
      <mdl-list-item *ngFor="let item of dbItems | async" mdl-ripple>
        <mdl-list-item-primary-content>
          <mdl-icon mdl-list-item-avatar>person</mdl-icon>
          {{item.name}}
        </mdl-list-item-primary-content>
      </mdl-list-item>
    </mdl-list>
  </div>
</div>
